@model Project_v3.Models.Films

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Films</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmType)
        </dd>
       
        <dt class = "col-sm-2">
            
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
    </dl>
</div>
<div>
    
</div>
