@model IEnumerable<Project_v3.Models.Films>

@{
    ViewData["Title"] = "Film";
}

<h1>Filmy Lista</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director.fullname)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>

                </th>
            }
            <th>
                <div>Details</div>
            </th>
            @if (User.IsInRole("Moderator"))
            {
                <th>

                </th>
                <th>

                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director.fullname)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <form method="post" asp-controller="Films" asp-action="Rank" asp-route-id="@item.Id">
                            <button type="submit" asp-route-id="@item.Id">
                                like
                            </button>
                        </form>
                    </td>
                }
                <td>
                    <form method="post" asp-controller="Films" asp-action="Description" asp-route-id="@item.Id">
                        <button type="submit" asp-route-id="@item.Id">
                            description
                        </button>
                    </form>
                </td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
                {
                    <td>
                        <button type="button" onclick="window.location= '@Url.Action( "edit", "films", new { id=@item.Id}))' ">
                             Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" onclick="window.location= '@Url.Action( "Delete", "films", new { id=@item.Id}))' ">
                            Delete
                        </button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
