@model IEnumerable<Project_v3.Models.Films>

<h1>Filmy Lista</h1>

@if(User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director.fullname)
            </th>
            <th>
                <div>Details</div>
            </th>  
            @if(User.Identity.IsAuthenticated)
            {
                if(User.IsInRole("User"))
                {
                    <th></th>
                }
                else if(User.IsInRole("Moderator"))
                {
                    <th></th>
                    <th></th>
                }
            }
        </tr>
    </thead>
    <tbody>
        
        @foreach(var item in Model)
        {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director.fullname)
                </td>
                <td>
                    <form method="post" asp-controller="Films" asp-action="Description" asp-route-id="@item.Id">
                        <button type="submit" asp-route-id="@item.Id">
                            description
                        </button>
                    </form>
                </td>
                @if(User.Identity.IsAuthenticated)
                {
                    if(User.IsInRole("User"))
                    {
                        <td>
                        <form method="post" asp-controller="Films" asp-action="Rank" asp-route-id="@item.Id">
                            <button type="submit" asp-route-id="@item.Id">
                                like
                            </button>
                        </form>
                    </td>
                    }
                    else if(User.IsInRole("Moderator"))
                    {
                        <td>
                            <form method="post" asp-controller="Films" asp-action="Rank" asp-route-id="@item.Id">
                                <button type="submit" asp-route-id="@item.Id">
                                    like
                                </button>
                            </form>
                        </td>
                        <td>
                        <button type="button" onclick="window.location= '@Url.Action( "edit", "films", new { id=@item.Id})' ">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" onclick="window.location= '@Url.Action( "Delete", "films", new { id=@item.Id})' ">
                            Delete
                        </button>
                    </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>